<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sheena.SpringTest.lesson06.dao.BookingDAO">
	<!-- 예약 목록 페이지 -->
	<select id="selectBookingList" resultType="com.sheena.SpringTest.lesson06.model.BookingModel">
		SELECT
			`id`
			, `name`
			, `headcount`
			, `day`
			, `date`
			, `phoneNumber`
			, `state`
			, `createdAt`
			, `updatedAt`
		FROM
			`booking`
	</select>
	
	<!-- 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM
			`booking`
		WHERE
			`id` = #{id}
	</delete>
	
	<!-- 입력 -->
	<insert id="insertBooking" parameterType="map">
		INSERT INTO `booking`
		(
			`name`
			, `date`
			, `day`
			, `headcount`
			, `phoneNumber`
			, `createdAt`
			, `updatedAt`
		) VALUE (
			#{name}
			, #{date}
			, #{day}
			, #{headcount}
			, #{phoneNumber}
			, now()
			, now()
		)
	</insert>
	
	
	<!-- 예약 조회 -->
	
	<select id="selectBooking" resultType="com.sheena.SpringTest.lesson06.model.BookingModel"
	parameterType="map">
		SELECT
			`id`
			, `name`
			, `headcount`
			, `day`
			, `date`
			, `phoneNumber`
			, `state`
			, `createdAt`
			, `updatedAt`
		FROM
			`booking`
		WHERE
			<![CDATA[
			`name` = #{name}
			AND `phoneNumber` = #{phoneNumber}
			]]>
	</select>

</mapper>