<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sheena.SpringTest.lesson04.dao.SellerDAO">

	<!-- 1. seller 추가	 -->

	<insert id="insertSeller" parameterType="map">
		INSERT INTO `seller`
		(
			`nickname`
			, `profileImageUrl`
			, `temperature`
			, `createdAt`
			, `updatedAt`
		) VALUE (
			#{name}
			, #{profileUrl}
			, #{temperature}
			, now()
			, now()
		)
	</insert>




	<!-- 2. seller 출력	 -->

	<select id="selectLastSeller" resultType="com.sheena.SpringTest.lesson04.model.SellerModel">
		SELECT
			`id`
			, `nickname`
			, `profileImageUrl`
			, `temperature`
			, `createdAt`
			, `updatedAt`
		FROM
			`seller`
		ORDER BY `id` DESC
		LIMIT 1
	</select>
	
	
	
	
	<!-- 3. seller 검색 출력 -->

	<select id="selectSeller" resultType="com.sheena.SpringTest.lesson04.model.SellerModel"
	parameterType="int">
		SELECT
			`id`
			, `nickname`
			, `profileImageUrl`
			, `temperature`
			, `createdAt`
			, `updatedAt`
		FROM
			`seller`
		WHERE
			`id` = #{id}
	</select>	

</mapper>